/*MOBILE*/

@media screen and (min-width: 1px) and (max-width: 755px) {
	
	body {
	
	
	> #navegacao{ 
	margin-top:-10px;
	}
		> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
				
			
			}
			
			
			> .logo2 {
				
			> .panel-body {
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
			
			
			}
		
		
		}
	
	
	}
			
	}
	
}/*FIM MOBILE*/



/*TABLE*/
@media screen and (min-width: 701px) and (max-width: 1024px) { 
	
	body {
	
	> #contato {
	
	
	}
	> .apace3 {
background-color:white;
height:1000px;

}

	> .apace2 {
background-color:white;
height:50px;
}

	> .row {
		> #singleBorder {
		
		margin-top:-3680px;
		
		> .panel {
		 > panel-body {
		 
		 }
		}
		}
	
	}
	 	
	
	> #navegacao {
		> .container {
		> #navegacao__content {
		> .navbar {
		margin-left:-50px;
		}
		
		}
		
		
		}
	
	
	}
	
	> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-sm-column-offset(0);
			
			
			}
			
			
			> .logo2 {
			margin-top:-150px;
				@include make-sm-column(5);
				@include make-sm-column-offset(6);
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
		
		
		}
	
	
	}
	
	
	>#slider1{	
		> #subRow {	
			> #myCarousel{
				margin-left:5px;
				> .carousel-inner{
					> .item{ 
					width:930px;
				}	 
			
			}		
		 }	
	}
	 
	 
	}

	}
}/*FIM TABLE*/


/*DESKTOP*/
@media screen and (min-width: 1025px) and (max-width:1500px) {

body {


  
    
> .apace3 {
background-color:white;
height:900px;

}

> .apace2 {
background-color:white;
height:200px;


}
> #navegacao{
	
	
	
		> .container {
			> #navegacao__content {
			margin-left:3%;
			.navbar {
			
			margin-left:75px;
			
				
				
				.navbar-collapse{
					
					>ul.navbar-nav{
						> li{
							&.active{
								> a{
								   
								   
									
						}
						}
						a{
							
							&:hover{
						
							}
						}
				}
				
				}
				}
			
			}
			}
		
		}
	
	
	}	


section {

	> #novidadeRow {
		margin-left:1%;
		
	}
}


	> .row {
		> #singleBorder {
		
		margin-top:-3720px;
		}
	
	}
	


	> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-sm-column-offset(0);
			
			
			}
			
			
			> .logo2 {
			margin-top:-130px;
				@include make-sm-column(3);
				@include make-sm-column-offset(9);
			
			a > #icoFace {
			margin-left:10%;
			}
			a > #icoyoutube{
			margin-left:30%;
			margin-top:-45px;
			}
			
			a > #icoTw{
			margin-left:70%;
			margin-top:-45px;
			}
			
			}
		
		
		}
	
	
	}

}
	
	
}/*FIM DESKTOP*/
