body {
background:url(../img/fundo.png);



@font-face {
    font-family: myFirstFont;
    src: url(fonts/Montserrat-UltraLight.otf);
}



> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-xs-column-offset(3);
			
			
				
			
			}
			
			
			> .logo2 {
				
			
			
			
			}
		
		
		}
	
	
	}
	

section {
	> #localizacao{
		margin-left:10px;
		
	}

}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
}
 



	
	
	
	> #navegacao{
	
	background:#065206;
	margin-top:5px;
	
		> .container {
			> #navegacao__content {
			
			@include make-md-column(12);
			.navbar {
			
				border-radius: 0;
				background:#065206;
				box-shadow:none;
				border:none;
				margin-bottom:0;
				.navbar-collapse{
				
			
					border:none;
					>ul.navbar-nav{
						> li{
							&.active{
								> a{
								   background:#0d980d;
								   
									
						}
						}
						a{
							color:#fff;
							font-size: 16px;
							font-family:  myFirstFont;
							&:hover{
							background:#0d980d;
							}
						}
				}
				
				}
				}
			
			}
			}
		
		}
	
	
	}	
	
}